[Unit]
Description=cutevpn
After=network-online.target network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/cutevpn
WorkingDirectory=/etc/cutevpn
Restart=on-failure
RestartSec=10s
KillSignal=SIGINT
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
